/* B A S E
-------------------------------------------------- */
html {
	height: 101%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	font-weight: 400;
}
body {
	font-family: @font-main;
	font-size: 100%;
	font-size: 1em;
	font-size: 10px;
}
h1 {
	font-family: @font-bold;

	&.logo {
		margin: 0;
		padding: 0;
		display: inline-block;
		height: 80px;
		max-height: 80px;
		position: relative;

		img {
			height: auto;
			display: inline-block;
			position: relative;
			top: 50%;
			float: right;
			transform: translateY(-50%);
			width: 60%;
		}
		a {height: 100%;display: block;}
		a, a:hover, a:active, a:visited {text-decoration: none !important;float:none !important; color: black !important;}

		@media screen and (max-width: 1035px) {
			padding-right: 15px;
		}
	}
}
h1, h2, h3, h4, h5 {
	color: black;
	font-family: @font-demi;
	text-transform: uppercase;
}
p, a {
	color: black;
	font-size: 1.4em;
	font-family: @font-light, sans-serif;
}
a, a:hover {
	color: black !important;
	text-decoration: none;
}
a:focus, a:visited {
	color: black !important;
	text-decoration: none;
}
	a {
		color: black;
		text-decoration: none !important;
		&:clicked, &:active, &:focus,&:hover, &:visited {
			color: black !important;
			text-decoration: none !important;
		}
	}
ul, li {
	list-style-type: none;
	padding-left: 0;
}
/* C O R E
-------------------------------------------------- */
body {
	width: 100%;height: 100%;
	max-width: 100vw; max-height: 100vh;
	overflow: hidden;
	font-family: 'Rleud-Regular', helvetica, sans-serif;
}
.iScrollHorizontalScrollbar {
  position: absolute;
  z-index: 999;
  height: 10px;
  left: 0px;
  right: 1px;
  bottom: 0px;
  overflow: hidden;
}
.iScrollIndicator {
	background-color: black;
	height: 100%;
}
header {
	height: 10%;
	max-height: 80px;
	min-height: 45px;
	overflow: hidden;

	a.menu {
		display: block;
		width: auto;
		font-size: 2em;
		height: 100%;
		line-height: 4em;
		padding-right: 0;
		text-transform: uppercase;
		font-family: 'Rleud-Demi', helvetica, sans-serif;
		transition: all 0.25s ease;
		-webkit-transition: all 0.25s ease;
		-moz-transition: all 0.25s ease;

		span {
			vertical-align: middle;
			margin-top: -5px;
			padding-right: 15px;
		}

		&.active {
			letter-spacing: 3px;
			text-decoration: none !important;
			transition: all 0.25s ease;
			-webkit-transition: all 0.25s ease;
			-moz-transition: all 0.25s ease;
		}
	}
}
#loader {
	position: fixed;
	z-index: 99999;
	width: 100%;height: 100%;
	background: white;
}
#album {
	.first {
		// width: 350px;
		max-width: 350px;
		width: auto;
		padding-left: 35px;
		padding-right: 35px;
		padding-bottom: 20px;
		text-align: right;
		> div {
			height: auto !important;
			min-height: initial !important;	
			display: inline-block;
			position: relative;
			top: 50%;
			transform:translateY(-50%);
		}
		h1 {
			font-size: 3em;
			letter-spacing: 2px;
			font-family: 'Rleud-Bold', sans-serif;
			margin-top: 20px;
		}

		@media screen and (max-width: @screen-md-max) {
			text-align: left;
		}
	}
}
main {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 80%;

	> div {
		height: 100%;
	}
	.sidebar {
		position: absolute;
		z-index: 9999;
		top: 0;
		left:0;

		height: 100%;
		background: white;
		min-width: 180px;

		text-align: right;
		padding-right: 35px;
		padding-top: 100px;
		

		h2 {
			font-size: 2.1em;
			letter-spacing: 2px;
			font-family: 'Rleud-Bold', sans-serif;
		}
		li {
			font-size: 1.2em;
			letter-spacing: 3px;
			font-family: 'Rleud-Light', sans-serif;
		}

	}
	.scrollContainer {
		position: relative;
		width: auto; height: 100%;
	}
	#gallery {
		position: absolute;
		z-index: 1;


		// min-height: 100%;
		width: 100%;
		min-width: 100%;
		height: 100%;

		> figure {
			position: relative;
			display: inline-block;
			vertical-align: top;
			float: none;
			height: 100%;
			min-height: 100%;
			width: auto;
			margin-right: 15px;
			box-sizing: border-box;
			&:last-child {
				margin-right: 0;
			}
			
			img {
				height: 100%;
				width: auto;
			}
		}

		figure {
			figcaption {
				position: absolute;
				width: ~"calc(100% - 15px)"; height: 100%;
				top: 0;bottom: 0;left: 0;right: 0;

				background: rgba(0,0,0,0.7);
				color: white;
				text-align: center;
				opacity: 0;
				> div {
					height: auto;
					display: inline-block;
					position: relative;
					top: 50%;
					transform: translateY(-50%);
					> div {
						opacity: 0;
					}
					h3, p, a {
						color: white;
					}

					h3 {
						margin-top: 0;
						font-family: @font-demi;
						letter-spacing: 3px;
						margin-bottom: 5em;
						text-transform: none;
						font-size: 5.4em;
						opacity: 0;
					}
					p:not(.link-wrap) {
						margin-top: 3em;
						margin-bottom: 3em;
						font-family: @font-bold;
						letter-spacing: 2px;
						text-transform: uppercase;
					}
					p.link-wrap {
						text-align: center;
						display: inline-block;
						width: auto;
						// font-size: 2.1em;

						a {
							color: white !important;
							width: 105px;
							display: inline-block;
							font-family: @font-main;
							padding: 5px 15px;
							margin: 0 15px;
							border: 3px solid white;
							text-align: center;
						}
					}
						
				}

					
			}
			&:last-child {
				figcaption{
					width: 100%;
				}
			}
		}
	}
}
#about {
	@media screen and (max-width: @screen-sm-max) {
		overflow-y: auto;
	}
	.container {
		// max-width: 1200px;
		// padding-left: 5em;
		// padding-right: 5em;

		>div:not(.sidebar) {
			padding-left: 0;
			padding-right: 30px;
			position: relative;
			max-height: ~"calc(100% - 125px)";

			&:nth-child(4) {
				padding-right: 0;
				p:last-of-type {
					margin-bottom: 20px;
				}
			}

			@media screen and (max-width: @screen-sm-max) {
				padding-left: 15px;
			}

			@media screen and (max-width: @screen-xs-max) {
				max-height: auto;
			}

			h1 {
				font-family: 'Rleud-Light', helvetica, sans-serif;
				font-size: 3.2em;
				letter-spacing: 3px;
				margin-top: 40px;
				margin-bottom: 50px;
			}
			p {
				font-size: 2.4em;
				line-height: 1.48;
				@media screen and (max-width: @screen-md-max) {
					font-size: 1.8em; 				
				}
				@media screen and (max-width: @screen-sm-max) {
					font-size: 2.4em; 				
				}
			}
			.contact {
				display: block;
				width: 90%;
				font-size: 2.4em;
				padding: 5%;
				border: 5px solid black;
				text-align: center;
				font-family: 'Rleud-Demi', helvetica, sans-serif;
				letter-spacing: 2px;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}